.app {
  background: #D1D0D9;
  height: 100vh;
  padding: 30px;
}

.todo-list {
  background: #F5F5F5;
  border-radius: 20px;
  padding: 42px 280px 58px;
}

.todo {
  align-items: center;
  background: #fff;
  border-radius: 9999px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
  padding: 14px 20px;
  margin-bottom: 17px;
}

.progress {
  display: grid;
  padding: 20px;
  margin-bottom: 23px;

  background: #E07C7C;
  border-radius: 20px;
}

.action {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.action .title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;

  color: #000000;
}

.complete-bar {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #EBB9B8;
}

.title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  color: #FFFFFF;
}

form {
  display: grid;
}

.input {
  padding: 14px 20px;
  background: #FFFFFF;
  border-radius: 9999px;
}

.menu-nav {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}

.menu-item {
  color: #FCC;
  padding: 3px;
}

.three-dots:after {
  cursor: pointer;
  color: #444;
  content: '\2807';
  font-size: 20px;
  padding: 0 5px;
}

.dropdown {
  position: absolute;
  background: #FFFFFF;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  
  outline: none;
  opacity: 0;
  z-index: -1;
  max-height: 0;
  padding: 17px 22px;
}
.dropdown-list {
  padding: 16px;
}

.dropdown-container:focus {
  outline: none;
}

.dropdown-container:focus .dropdown {
  opacity: 1;
  z-index: 100;
  max-height: 100vh;
}
